<ion-header>
  <ion-toolbar>
      <ion-button slot ="end" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    <ion-title>
      List item
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="filterString" (ionChange)="filterItem()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="!todo || todo.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text>
        </ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of todo">
      <ion-item line ="inset" button [routerLink]="['/details', item.id]">
        <ion-label>
          {{item.nameItem}}
          <p>{{item.createAt | date: 'short'}}</p>
        </ion-label>
        <ion-note slot="end" color="primary">{{item.note}}</ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color ="secondary">
          Delete
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
